* @finos-labs/architecture-as-code-maintainers

/calm/ @finos-labs/architecture-as-code-maintainers

/cli/ @aidanm3341 @lbulanti-ms @willosborne @grahampacker-ms @jpgough-ms

/spectral/ @willosborne @lbulanti-ms @grahampacker-ms @jpgough-ms

/translator/ @Budlee @matthewgardner @jpgough-ms

/visualizer/ @aidanm3341 @Budlee @willosborne
