* @finos/architecture-as-code-maintainers

/calm/ @finos/calm-schema-governance

/calm-hub/ @jpgough-ms @rocketstack-matt @grahampacker-ms @Thels

/cli/ @aidanm3341 @lbulanti-ms @willosborne @grahampacker-ms @jpgough-ms @rocketstack-matt @Thels @LeighFinegold @markscott-ms

/calm-visualizer/ @oliviajanejohns @aidanm3341 @jpgough-ms @rocketstack-matt

/shared/ @aidanm3341 @lbulanti-ms @willosborne @grahampacker-ms @jpgough-ms @rocketstack-matt @Thels @LeighFinegold @markscott-ms

# Ownership for dependency-related files at the root level
/package.json @finos/architecture-as-code-maintainers
/package-lock.json @finos/architecture-as-code-maintainers
/pom.xml @finos/architecture-as-code-maintainers

# Ownership for dependency-related files across all subdirectories
**/package.json @finos/architecture-as-code-maintainers
**/package-lock.json @finos/architecture-as-code-maintainers
**/pom.xml @finos/architecture-as-code-maintainers
