.node {
    border: 1px solid;
    text-align: center;
    width: 200px;
    min-height: 100px;
    font-family: Arial;
    padding: 10px 30px 10px 30px;
    background-color: white;
}

:focus {
    border: 1px solid;
    border-color: blue;
}

.graph-title {
    z-index: 1;
    padding: var(--navbar-padding, 0.5rem);
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    margin-left: -100px;
}

.title {
    font-weight: bold;
    color: black;
}

.type {
    margin-top: 10px;
    color: grey;
}

.description {
    margin-top: 10px;
    color: black;
}

.relationship-label {
    background-color: white;
}

.zoom-indicator {
    width: 100px;
    display: inline-block;
}
