.node {
    border: 1px solid;
    text-align: center;
    width: 200px;
    height: 100px;
    font-family: Arial;
    padding: 10px 30px 10px 30px;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    margin-left: -100px;
}

.title {
    font-weight: bold;
    color: black
}

.type {
    margin-top: 10px;
    color: grey
}

.description {
    margin-top: 10px;
    color: black
}

/*Used for the tooltip*/
.edge-tooltip {
    border: solid 1px;
    background-color: blue;
    color: white;
    padding: 1rem;
}
