.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.node {
    padding: 1rem;
    z-index: 3;
    background-color: white;
    border: 2px black solid;
    text-align: center;
    max-width: 15rem;
    position: absolute;
}

.graph-labels {
    background-color: white;
    font-weight: bold;
    padding: 5px 10px;
    max-width: 250px;
}

.node-type {
    color: gray;
    font-size: 0.9rem;
}

.node-description {
    font-size: 0.9rem;
}

.group-container {
    border: 2px gray dashed !important;
    background-color: aliceblue;
    min-width: max-content;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: auto;
}

.group-node {
    border: 2px rgb(180, 178, 178) solid;
    box-sizing: border-box;
}
