.node {
    border: 1px solid;
    text-align: center;
    width: 200px;
    font-family: Arial;
    padding: 5px 10px 5px 10px;
    background-color: white;
}

.selected-node {
    background-color: #cce1f9;
}

:focus {
    border: 1px solid;
    border-color: blue;
}

.graph-title {
    background: white;
    z-index: 1;
    padding: var(--navbar-padding, 0.5rem);
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -100px;
}

.title {
    font-weight: bold;
    color: black;
}

.type {
    margin-top: 10px;
    color: grey;
}

.description {
    margin-top: 10px;
    color: black;
}
