@import 'tailwindcss';
@plugin "daisyui" {
    themes: light --default;
}

[data-theme='light'] {
    --color-primary: #000063;
    --color-accent: #007dff;
    --color-accent-light: #b2d8f5;
}

#root {
    height: 100vh;
}

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
