name: Build Docs

permissions:
    contents: read

on:
    pull_request:
        branches:
            - 'main'
    push:
        branches:
            - 'main'

jobs:
    docs:
        name: Build Docs Module
        runs-on: ubuntu-latest

        steps:
            - name: Checkout PR Branch
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

            - name: Setup Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
              with:
                  node-version: v22
                  cache: npm
                  cache-dependency-path: package-lock.json

            - name: Install workspace
              run: npm ci

            - name: Build Docs
              run: npm run build:docs
