name: Build Calm Models

permissions:
    contents: read

on:
    pull_request:
        branches:
            - 'main'
    push:
        branches:
            - 'main'

jobs:
    shared:
        name: Build, Test, and Lint Calm Models Module
        runs-on: ubuntu-latest

        steps:
            - name: Checkout PR Branch
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

            - name: Setup Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
              with:
                  node-version: v22

            - name: Install workspace
              run: npm ci

            - name: Lint Shared Module
              run: npm run lint --workspace=calm-models

            - name: Build workspace
              run: npm run build --workspace=calm-models

            - name: Run tests with coverage for Calm Models
              run: npm run test --workspace=calm-models
