name: Build VS Code Extension

permissions:
    contents: read

on:
    pull_request:
        branches:
            - 'main'
            - 'release*'
    push:
        branches:
            - 'main'
            - 'release*'
    workflow_dispatch:
        inputs:
            publish_to_marketplace:
                description: 'Publish to VS Code Marketplace'
                required: false
                default: false
                type: boolean

jobs:
    build-and-publish:
        name: Build, Test, and Publish VS Code Extension
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - name: Setup Node.js
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
              with:
                  node-version: v22

            - name: Install workspace
              run: npm ci

            - name: Lint VS Code Extension
              run: npm run lint --workspace=calm-plugins/vscode

            - name: Build and Test VS Code Extension
              run: npm run test:vscode

            - name: Package VS Code Extension
              run: npm run package:vscode

            - name: Publish to VS Code Marketplace
              if: github.event.inputs.publish_to_marketplace == 'true'
              working-directory: ./calm-plugins/vscode
              run: npx vsce publish --packagePath *.vsix
              env:
                  VSCE_PAT: ${{ secrets.VSCE_PAT }}


