name: Build Shared

permissions:
    contents: read

on:
    pull_request:
        branches:
            - 'main'
    push:
        branches:
            - 'main'

jobs:
    shared:
        name: Build, Test, and Lint Shared Module
        runs-on: ubuntu-latest

        steps:
            - name: Checkout PR Branch
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

            - name: Setup Node.js
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
              with:
                  node-version: v22

            - name: Install workspace
              run: npm ci

            - name: Lint Shared Module
              run: npm run lint --workspace=shared

            - name: Build workspace
              run: npm run build:shared

            - name: Run tests with coverage for Shared
              run: npm run test --workspace=shared
