name: CVE Scanning for Maven Projects

permissions:
    contents: read

on:
    workflow_dispatch:
    schedule:
        - cron: '0 8,18 * * 1-5'
    push:
        paths:
            - '**/pom.xml'
            - '.github/workflows/maven-cve-ignore-list.xml'
            - '.github/workflows/cve-scanning-maven.yml'
    pull_request:
        paths:
            - '**/pom.xml'
            - '.github/workflows/maven-cve-ignore-list.xml'
            - '.github/workflows/cve-scanning-maven.yml'

jobs:
    depchecktest:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                java-version: ['21']
                module-folder: ['calm-hub']
        steps:
            - name: Checkout
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

            - name: Setup JDK
              uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
              with:
                  java-version: ${{ matrix.java-version }}
                  cache: maven
                  distribution: 'adopt'

            - name: Build and run dependency check with Maven
              run: mvn -U clean verify -DskipTests -P dependency-check
              working-directory: ${{ matrix.module-folder }}
              env:
                  NVD_API_KEY: ${{ secrets.NVD_API_KEY }}

            - name: Upload Test results
              if: ${{ always() }}
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
              with:
                  name: Depcheck report ${{ github.job }} ${{ matrix.module-folder }}
                  path: ${{ github.workspace }}/${{ matrix.module-folder }}/target/dependency-check-report.*
