name: License Scanning for Node.js

permissions:
    contents: read

on:
    schedule:
        - cron: '0 8,18 * * 1-5'
    push:
        paths:
            - '**/package-json.lock'
            - '**/package.json'
            - '.github/workflows/license-scanning-node.yml'

jobs:
    scan:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: ['22.x']
                module-folder: ['cli', 'docs', 'shared']
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm install --omit=dev --ignore-scripts
              working-directory: ${{ matrix.module-folder }}
            - run: npm install -g node-license-validator
              working-directory: ${{ matrix.module-folder }}
            - run: node-license-validator . --allow-licenses Apache-2.0 MIT BSD-2-Clause BSD BSD-3-Clause Unlicense ISC
              working-directory: ${{ matrix.module-folder }}
