name: PR Labeler

permissions:
    contents: read
    pull-requests: write

on:
    pull_request:
        types: [opened, synchronize]

jobs:
    label:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

            - name: Label PR based on changes
              uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
              with:
                  token: '${{ secrets.GITHUB_TOKEN }}'
