name: PR Labeler

permissions:
    contents: read
    pull-requests: write

on:
    pull_request_target:
        types: [opened, synchronize]

jobs:
    label:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Label PR based on changes
              uses: actions/labeler@v4
              with:
                  repo-token: '${{ secrets.GITHUB_TOKEN }}'
