name: Sync Videos to S3

permissions:
    contents: read

on:
    workflow_dispatch: {}
    push:
        branches:
            - main
        paths:
            - 'video'

jobs:
    sync-to-s3:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
              with:
                  aws-access-key-id: ${{ secrets.AWS_S3_ACCESS_KEY }}
                  aws-secret-access-key: ${{ secrets.AWS_S3_SECRET_ACCESS_KEY }}
                  aws-region: us-east-1
            - name: Sync video folder to S3
              run: |
                  aws s3 sync video s3://${{ vars.AWS_S3_BUCKET }}/video

            - name: Invalidate CloudFront cache
              run: |
                  aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/video/*"
