name: Semgrep

permissions:
    contents: read

on:
    workflow_dispatch: {}
    pull_request: {}
    push:
        branches:
            - main
        paths:
            - .github/workflows/semgrep-ci.yml
    schedule:
        # random HH:MM to avoid a load spike on GitHub Actions at 00:00
        - cron: '09 15 * * *'
jobs:
    semgrep:
        name: semgrep/ci
        runs-on: ubuntu-24.04
        env:
            SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
        container:
            image: semgrep/semgrep@sha256:73116c3be6ee3a138acad62b2d26c17fad7f62610c0c9a9d66c61b0c0a5405ef
        if: (github.actor != 'dependabot[bot]')
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
            - run: semgrep ci
