name: Validation of CALM Samples

permissions:
    contents: read

on:
    pull_request:
        branches:
            - 'main'
        paths:
            - 'calm/draft/**'
            - 'calm/pattern/**'
            - 'calm/samples/**'
            - 'shared/src/spectral/**'
    push:
        branches:
            - 'main'
        paths:
            - 'calm/draft/**'
            - 'calm/pattern/**'
            - 'calm/samples/**'
            - 'shared/src/spectral/**'

jobs:
    spectrals:
        name: Run Spectral
        runs-on: ubuntu-latest
        steps:
            # Check out the repository
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

            # Run Spectral
            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
              with:
                  node-version: v22

            - name: Install workspace
              run: npm ci

            - name: Build workspace
              run: npm run build

            - name: Install dependencies for Spectral
              run: npm install @stoplight/spectral-cli rollup

            - name: Run Example Spectral Linting
              run: npx spectral lint --ruleset ./shared/dist/spectral/rules-architecture.js 'calm/samples/api-gateway-architecture(*.json|*.yaml)'
